.stringSelect {
  font-size: 2vh;
}

.caixaOption {
  font-size: 2vh;
  size: 4vh;
}

.stringOption {
  font-size: 2vh;
}

.divrow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
  gap: 20px;
}

.divfield {
  flex: 1 0 calc(33.33% - 20px); /* Ajuste a largura conforme necessário */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fields {
  display: block;
}

.stringDados {
  text-align: center;
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 0.5vh;
}
.inputCad {
  background-color: white;
  border-radius: 1vh;
  height: 4vh;
  width: 50vh;
  text-align: start;
  font-size: 2vh;
  padding-left: 0.5vh;
}

.classesForm {
  padding-left: 3vh;
  font-size: 2.5vh;
  font-weight: bold;
}

.botaoEnviar {
  cursor: pointer;
  margin-top: 6vh;
  margin-left: 60vh;
  background-color:#081535;
  color: white;
  border-radius: 1vh 1vh;
  padding: 1vh 10vh;
  width: 50vh;
  text-align: center;
}

.stringEnviar {
  font-size: 2vh;
}