

.divbotaoEnviarDados{
    margin-top: 2vh;
    display: flex;
    justify-content: start;
    margin-left: 1.5vh;
  }
  
  .botaoEnviarDados{
    background-color: #081535;
    border-radius: 1vh 1vh;
    width: 49vh;
    height: 5vh;
    text-align: center;
    font-size: 2vh;
  }

  .stringEnviarDados{
    font-size: 2vh;
    color: white;
  }
  
  .stringObservaçãoCliente{
    display: flex;
    justify-content:left;
    margin-left: 2vh;
    font-size: 2vh;
    font-weight: bold;
  }

  .divtextArea{
    display: flex;
    justify-content:left;
    margin-left: 2vh;
  }

  .textArea{
    width: 108vh;
    height: 60vh;
    text-align: justify;
    font-size: 2vh;
  }