.pointer {
    cursor: pointer;
}
.tabelaPagamentos{
    margin-top: 3vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
}

.tabelaPagamentos td {
    text-align: center;
    padding: 0.5vh 1vh;
    height: 4vh;
}

.tabelaPagamentos tr {
    border: 0.1vh solid rgba(0, 0, 0, 0.2);
    padding: 0.5vh 1vh;
    height: 4vh;
}