.pointer {
    cursor: pointer;
}

.tabelaPagamentos{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
}

.tabelaPagamentos td {
    text-align: center;
    padding: 0.5vh 1vh;
    height: 4vh;
    width: 40vh;
}

.tabelaPagamentos tr {
    border: 0.1vh solid rgba(0, 0, 0, 0.2);
    padding: 0.5vh 1vh;
    height: 4vh;
}

.inputPesquisa{
    height: 4vh;
    width: 30vh;
    border-radius:1vh;
    padding-left: 1vh;
    font-size: 1.5vh;
}

.caixaPesquisaNomeClienteRegistroPagamentos{
    display: flex;
    flex-direction: row;
}

.filtroNomeClienteRegistroPagamentos{
    display: flex;
    flex-direction: column;
}

.divbotaoPesquisaNomeClienteRegistroPagamentos{
    display: flex;
    align-items: start;
    margin-left: 1vh;
    margin-top: 2vh;
}

.botaoPesquisaNomeClienteRegistroPagamentos{
    width: 4vh;
    height: 3.5vh;
    border-radius: 0.5vh;
    cursor: pointer;
    background-color: #081535;
    color: white;
}

.divfiltroSelectRegistroPagamentos{
    display: flex;
    flex-direction: column;
    margin-top: 0vh;
}