.navLateral {
    width: 5vh;
    background-color: #333;
    color: purple;
    height: 5vh;
  }
  
  .navHeader {
    padding: 1vh;
    font-size: 5vh;
    background-color: #222;
  }
  
  .navMenu {
    list-style: none;
    padding: 1vh;
    margin: 5vh;
  }
  
  .navMenu li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #444;
  }
  
  .navMenu li:last-child {
    border-bottom: none;
  }

  .quadrado{
    height: 10000px;
    width: 10000px;
    background-color: red;
  }