*{
  margin: 0;
  padding: 0;
  font-family: 'HK Grotesk Regular Legacy'
}

@font-face {
  font-family: 'HK Grotesk Regular Legacy';
  src: url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff2') format('woff2'),
  url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff') format('woff');
font-weight: normal;
font-style: normal;
}

.sidebar {
  width: 25vh;
  background-color: white;
  color: white;
  height: 100vh;
  box-shadow: 2vh 0vh 2vh rgba(122, 58, 206, 0.2);
  font-family: 'HK Grotesk Regular Legacy';
}

.deltalogoazul {
  padding: 2vh 9vh;
  width: 6vh;
  height: 6vh;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 0.1vh solid black;
}

.sidebar-menu li {
  padding: 1vh 2vh;
  border-bottom: 0.1vh solid black;
  line-height: 4vh; /* Aumente este valor para adicionar espaçamento vertical */
  color: black;
}

.sidebar-menu li:last-child {
  border-bottom: none;
}