*{
  margin: 0;
  padding: 0;
  font-family: 'HK Grotesk Regular Legacy'
}

@font-face {
  font-family: 'HK Grotesk Regular Legacy';
  src: url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff2') format('woff2'),
  url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  .body{
    background-color: #081535;
  }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.labelInput {
  height: 2.5vh;
  width: 38vh; /*define a posição na horizontal da string*/
  color: white; /*define a cor da string*/
  font-size: 2vh;
  font-family: 'HK Grotesk Regular Legacy';
  }

.containerInput {
  background-color: white;
  border-radius: 1vh 1vh; /* Define o raio da borda */
  padding: 1vh 10vh; /* Opcional: ajusta o preenchimento interno */
  width:37vh;
  padding: 5px 10px;
  text-align: start;
  font-size: 2vh;
  font-family: 'HK Grotesk Regular Legacy';
  }

.deltaimg{
  padding-bottom: 2vh;
  width: 55vh;
  height: 25vh;
  }

.botaoEntrar{
  background-color: #AC7B39;
  color: white;
  border-radius: 1vh 1vh;
  padding: 1vh 10vh;
  width:39vh;
  padding: 5px 10px;
  text-align: center;
  font-size: 2vh;
  cursor: pointer;
}

.stringEntrar{
  text-align: center;
  font-size: 2vh;
  color: #FFFFFF;
  font-family: 'HK Grotesk Regular Legacy';
}

.esqueceuSenha{
  height: 2.5vh;
  width: 38vh; /*define a posição na horizontal da string*/
  color: white; /*define a cor da string*/
  font-size: 2vh;
  font-family: 'HK Grotesk Regular Legacy';
}

.erro {
  padding: 1vh;
  color: white;
}