@font-face {
  font-family: 'HK Grotesk Regular Legacy';
    src: url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff2') format('woff2'),
      url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.titulo {
    padding-bottom: 1vh;
    font-size: 2vh;
}

.tituloCli{
  margin-bottom: 1vh;
}

.caixatabela {
    position: absolute;
    right: 160vh;
    top: 9vh;
    font-family: 'HK Grotesk Regular Legacy';
}

.tabela {
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vh;
    padding-right: 2vh;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    font-family: 'HK Grotesk Regular Legacy';
}
  
.tabela td {
  border: 0.1vh solid rgba(0, 0, 0, 0.2);
  padding: 0.5vh 1vh;
  height: 4vh;
}

.textodados {
    font-size: 2vh;
    color: black;
    font-family: 'HK Grotesk Regular Legacy';
    text-align: left;
  }

.textoClasses{
  font-size: 2vh;
  font-weight: bold;
}

.textoCadastrar {
    background-color: #081535;
    color: white;
    height: 4vh;
    width: 16.5vh;
    border-radius: 1vh 1vh;
    font-size: 2vh;
    text-align: center;
    cursor: pointer;
}

.botaoCadastrar {
  display: flex; 
  align-items: end;
  justify-content: end;
  margin-bottom: 1vh;
}

.stringCadastrar {
  font-size: 2vh;
  font-family: 'HK Grotesk Regular Legacy';
}
.stringVer {
  font-size: 2vh;
  font-family: 'HK Grotesk Regular Legacy';
}

.botaoVer {
  width: 100%;
  height: 5vh;
  border-radius: 1vh;
  cursor: pointer;
}