*{
    margin: 0;
    padding: 0;
    font-family: 'HK Grotesk Regular Legacy'
  }
  
@font-face {
    font-family: 'HK Grotesk Regular Legacy';
    src: url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff2') format('woff2'),
    url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
    }

    .titulo {
    padding-bottom: 1vh;
    font-size: 2vh;
    }

    .caixatabela {
    position: absolute;
    right: 167vh;
    top: 9vh;
    font-family: 'HK Grotesk Regular Legacy';
    }

    .tabela {
    height: 84vh;
    width: 169vh;
    position: absolute;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    font-family: 'HK Grotesk Regular Legacy';
  }
  
  .tabela td {
    border: 0.1vh solid black;
    padding: 0.5vh 1vh;
    height: 1vh;
    width: 50vh;
  }

    .textoclasses {
    border: 0.1vh solid black;
    text-align: left;
    font-size: 2vh;
    color: black;
    font-weight: bold;
    font-family: 'HK Grotesk Regular Legacy';
}

  .textodados {
    border: 0.1vh solid black;
    font-size: 2vh;
    color: black;
    font-family: 'HK Grotesk Regular Legacy';
    text-align: left;
  }