.containerGeral{
  position: absolute;
  top: 10vh;
  left: 30vh;
  width: 80%;
  height: 90%;
}

.titulo {
    margin-bottom: 1vh;
    font-size: 2vh;
}

.tituloCli{
  margin-bottom: 1vh;
}

.caixatabela {
    position: absolute;
    right: 160vh;
    top: 9vh;
}

.textoCadastrar {
    background-color: #081535;
    color: white;
    height: 4vh;
    width: 16.5vh;
    border-radius: 1vh 1vh;
    font-size: 2vh;
    text-align: center;
    cursor: pointer;
}

.botaoCadastrar {
  display: flex; 
  justify-content: end;
  margin-bottom: 1vh;
}

.stringCadastrar {
  font-size: 2vh;
}

.divTabelaCLientes{
  position: absolute;
  top: 20vh;
  left: 30vh;
  width: 80%;
  height: 75vh;
  overflow-x: auto;
  overflow-y: auto;
}

.tabelaClientes{
  width: 100%;
  border-collapse: collapse;
}

.tabelaClientes td {
  text-align: center;
  border: 0.1vh solid rgba(0, 0, 0, 0.2);
  height: 4vh;
  width: 15vh;
}

.textodados {
  font-size: 2vh;
  color: black;
  text-align: left;
}

.textoClasses {
  font-size: 2vh;
  font-weight: bold;
}

.stringVer {
  font-size: 2vh;
}

.botaoTDVer {
  cursor: pointer;
  width: 10vh;
  height: 3.5vh;
  border-radius: 1vh;
}

.positionNavSuperior{
  position: absolute;
  top: 0vh;
  right: 0vh;
  width: 100%;
}

.positionNavLateral{
  position: absolute;
  top: 0vh;
  left: 0vh;
  z-index: 1;
}