

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 2vh;
    width: 86%;
    height: 4vh;
    margin: 0 auto;
    box-shadow: 2vh 0vh 2vh rgba(122, 58, 206, 0.2);
    position: absolute;
      right: 0;
    }
    
.username {
  position: absolute;
  right: 4vh;
}
    
.usernameText {
  margin-right: 2vh;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5vh;
  color: black;
}
  
  .nav-links li {
  cursor: pointer;
}
  
  .nav-links li:hover {
  text-decoration: underline;
}
  
  .nav-links li.active {
  font-weight: bold;
}
  