@font-face {
    font-family: 'HK Grotesk Regular Legacy';
    src: url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff2') format('woff2'),
    url('..\\..\\public\\fonts\\HKGrotesk-RegularLegacy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
    }

.rowbotoes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    gap: 3vh;
}

.botoes {
    width: 15%;
    height: 5vh;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: black;
    opacity: 1; /* Opacidade padrão */
    transition: opacity 0.1s ease-in-out; /* Efeito de transição suave */
}

.botoes:hover {
    opacity: 0.7; /* Opacidade no hover */
}

.botaoAtivo {
    background-color: #081535; /* Cor de realce quando o botão está ativo */
    color: white; /* Cor do texto quando o botão está ativo */
}

.linha{
    opacity: 0.5;
}

.inputDados{
    padding-left: 0.5vh;
    background-color: white;
    border-radius: 1vh;
    opacity: 0.5;
    height: 4vh;
    width: 48vh;
    text-align: start;
    font-size: 2vh;
    font-family: 'HK Grotesk Regular Legacy';
}

.tabelaPropostas {
    width: 100%;
    font-size: 2vh;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    font-family: 'HK Grotesk Regular Legacy';
}

.linhasTabelaPropostas{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0.1vh solid rgba(0, 0, 0);
}

.colunasTabelaPropostas{
    padding: 0.5vh 1vh;
    height: 4vh;
    align-self: center;
    border: 0.1vh solid rgb(0, 0, 0);
}

.botaoVer{
    cursor: pointer;
    background-color:#081535;
    color: white;
    border-radius: 1vh 1vh;
    width: 8vh;
    height: 4vh;
    text-align: center;
    font-family: 'HK Grotesk Regular Legacy';
}

.stringVer{
    font-size: 2vh;
    font-family: 'HK Grotesk Regular Legacy';
}

.divbotaoCadastrarNovoCliente{
    display: flex;
    margin-bottom: 1vh;
    justify-content: end;
}

.botaoCadastrarNovoCliente{
    cursor: pointer;
    background-color:#081535;
    color: white;
    border-radius: 1vh 1vh;
    width: 25vh;
    height: 4vh;
    text-align: center;
    font-family: 'HK Grotesk Regular Legacy';
}

.stringCadastrarNovoCliente{
    font-size: 2vh;
    font-family: 'HK Grotesk Regular Legacy';
}
