.stringTitulos{
    justify-content: start;
    font-size: 3vh;
    font-weight: bold;
}

.stringUpload{
  margin-top: 1vh;
  display: flex;
  justify-content:center;
  font-size: 3.25vh;
  font-weight: bold;
}

.divinputFiles{
  margin-top: 1vh;
  display: flex;
  justify-content:center;
}

.inputFiles{
  font-size: 2vh;
  font-weight: bold;
}

.divlistaFiles{
  display: flex;
  margin-top: 1vh;
  justify-content: center;
}

.listaFiles{
  margin-top: 2vh;
}

.liFiles{
  font-size: 2vh;
}

.inputDadosTabela{
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 2vh;
  text-align: center;
}

.divTabelaPropostas{
  position: absolute;
  top: 23vh;
  left: 30vh;
  width: 80%;
  height: 75vh;
  overflow-x: auto;
  overflow-y: auto;
}

.caixaPesquisa{
  margin-top: 1vh;
}

#textPesquisarPor{
  font-size: 1.5vh;
}

.filtros{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1vh;
}

.labelFiltros{
  font-weight: bold;
  font-size: 1.5vh;
  text-align: start;
  margin-left: 0.5vh;
}

.divfiltroSelect{
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
}

.filtroSelect{
  height: 4vh;
  width: 18vh;
  border-radius: 1vh;
  margin-right: 2vh;
}

.optionsFiltroSelect{
  height: 10vh;
  width: 15vh;
  border-radius: 1vh;
}

.caixaPesquisa{
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
}

.inputPesquisar{
  height: 3.75vh;
  width: 30vh;
  border-radius:1vh;
  padding-left: 1vh;
  font-size: 1.5vh;
}

.divbotaoPesquisaNome{
  display: flex;
  align-items: end;
  padding-left: 1vh;
  margin-right: 2vh;
}

.botaoPesquisaNome{
  height: 4.25vh;
  width: 5vh;
  border-radius: 1vh;
  cursor: pointer;
  background-color: #081535 ;
  color: white;
}

.divfiltroData{
  margin-top: 0vh;
  gap: 1vh;
  display: flex;
  align-items: center;
}

.botaoFiltrarData{
  background-color: #081535;
  color: white;
  font-size: 1.5vh;
  width: 13vh;
  height: 3.5vh;
  border-radius: 1vh;
}

.inputfiltroData{
  border: 0.1vh solid #081535;
  border-radius: 0.5vh;
  height: 3vh;
}